/* SOMMAIRE */

.box-shadow {
  box-shadow: 0 7px 20px -10px #000;
}

.maxWidth200 {
  max-width: 200px;
}
.marginAuto{
  margin:30px auto;
}

.marginTop {
  margin-top:50px!important;
}

.marginTopAdmin {
  margin-top:100px!important;
}


/* Stylisation de la police  */
/* Regles  pour le site et pour bootstrap  */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #26802e !important;
}
h1 {
  font-size: 67px !important;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#app {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.nav-items {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.floatingNav {
  border-bottom: 2px solid #d9a679 !important;
}
main {
  background-color: rgba(0, 0, 0, 0.6);
  padding:20px 2px; 
}

body,
header,
header,
section,
picture,
img {
  box-sizing: border-box;
  width: 100%;
}
#main h1,
#main h2,
#main h3,
header,
footer,
.slide p,
header a {
  color: white !important;
}

h1,
h2,
h3,
header {
  font-family: "CairoExtended-Regular" !important;
  /* font-family: 'Oswald', sans-serif; */
}
.displayGrey{
  background-color: #4a4848;
}
a {
  cursor: pointer;
  font-size: 20px;
}

a:hover {
  color: #d9a679 !important;
}

.paddingBottomFooter {
  padding-bottom: 150px;
}

/* Factorisation des elements boutons  */
#main button,
.news,
#articleViewtext,
form,
.buttonBrown,
.tableAdministration,.tableAdmin,
.buttonMain1 {
  color: white;
  background-color: #d9a679;
  border: 6px solid #26802e;
  border-radius: 19px;
  padding: 6px 11px 10px 11px;
  margin-top: 20px;
}
#textShop {
  background-color: white !important;
}

#administrationShop {
  padding-bottom:20px;
}

form input[type="submit"],
input[type="button"],
.ButtonGreen,
button {
  background-color: white;
  border: 6px solid #26802e;
  border-radius: 19px!important;
  cursor: pointer;
  color: #284010!important;
  padding: 6px 11px 10px 11px;
}

.onButtonGreen {
  background-color: white;
  border: 6px solid #26802e;
}
.onButtonGreenTotal {
  background-color: #26802e;
  border: 6px solid #26802e;
}



/* Stylisation du menu */
#togglecontainer {
  display: none;
}

#nameSession {
  color:white;
}
.toggleMenu {
  border-color: white !important;
  color: white !important;
  background-color: white !important;
}

#btnCart {
  border-color: #26802e !important;
  color: white !important;
  background-color: #26802e !important;
}

/* Stylisation de l'header */

header {
  background-color: #26802e;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
}

.arrowCartSlide {
  text-align: center;
    position: relative;
  }  
  .arrowCartSlideIcon {
    animation: arrowSlide 0.8s;
  position: absolute;
    font-size: 27px;
    z-index: 222222222222222222222222222222;
    color:#cea176;
    top: -16px;
    left: 24px;
    opacity:0;
}
/* Stylisation du main de l'index */
#main {
  position: relative;
  margin-top: 70px;
}

#containerMain {
  position: absolute;
  top: 0px;
  width: 100%;
}

#presentationShop {
  margin: 20px auto;
}

#nameSessionStyle {
  color:white;
  font-size:40px;
  animation : colorh1 4s ease-in-out;
  display: block;
}


.shopTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.shopTitle h1,
.shopTitle h2,
.shopTitle h3 {
  padding-top: 20px;
}


.shopTitle button {
  /* margin-top: 0px !important; */
  width: 177px;
}

#headerButton {
  width: 342px;
  font-size: 20px;
}

#sliderNewsMobile {
  display: none;
}
/* stilisation slider */
.carroussel {
  overflow: hidden;
  width: 300px;
  height: 231px;
  display: flex;
  margin: 20px auto;
  background-color: #868c58;
  border: 8px solid #26802e;
  border-radius: 50px;
}

#carouselExampleIndicators {
  border: 6px solid green;
  border-radius: 7px;
}

.carrousselcontainer {
  width: 100%;
  display: flex;
  margin: 20px auto;
}
.slide h3 {
  color: yellow;
}

.slideNews {
  min-width: 300px;
  padding: 20px;
  color: white;
}

.slide img {
  width: 100%;
}

.slide2 {
  width: 300px;
}

.buttoncontainer {
  margin: -10px auto;
  width: 300px;
  text-align: center;
}

.buttoncontainer button {
  margin-top: 0px !important;
}
/* stylisation de la section text shop */
.introduction {
  padding-top: 40px !important;
}

#textShop h2,
#textShop h3,
#textShop p,
#goals i {
  color: #26802e !important;
}
#textShop h3 {
  font-size: 18px;
}
.goalsItems {
  align-items: center;
  margin: 11px auto;
}
#goals i {
  font-size: 30px;
  padding: 5px 23px;
}

/*stylisation de la separation*/
.separation {
  background-color: white;
}

/* stylisation de la partie des products */
#products {
  background-color: #26802e;
  margin-top: -6px;
  padding-bottom: 62px;
  color: white;
}
#productsList {
  background-color: #faf3eb;
}
#productsList h2 {
  margin-bottom: 21px !important;
}
#productsList h3 {
  color: #5a7336 !important;
}
#productsList input {
  /* margin-bottom: 49px; */
  /* border: 2px solid green; */
  /* width: 80%; */
  padding: 15px;
  height: 30px;
  /* overflow: hidden; */
  /* margin: 0px auto; */
}

.containerInput {
  border: 4px solid #28a745;
  background-color: #cea176;
  border-radius: 11px;
}

.containerInput div {
  width: 46px; /* display:flex; */
}

.listProducts .col-md-6 {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.listProducts figure {
  min-width: 200px;
  max-width: 250px;
  margin: 45px auto;
  border: 10px solid #32831e;
  border-radius: 20px;
}

/* stylisation du caddie CartShop */
#cartContainerModal {
  background-color: #0f3312;
  /* height:00px; */
  /* overflow:scroll;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0; */
  }

/* modal de confirmation */
#confirmationModal {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 11222222222;
  background-color: rgba(0, 0, 0, 0.8);
}
#overlay {
  /* position: fixed; */
  /* top: 0px; */
  /* left: 0px; */
  /* right: 0px; */
  /* bottom: 0px; */
  z-index: 999999999999999999999999999999;
  padding-top: 94px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 100px;
}
#closeModal {
  position: absolute;
  right: 0px;
}
.classSlider {
  background-color: #faf3eb; 
}
.cartSlider {
  display: none !important;
}

.horizontalLine {
  width:80%;
  min-width:200px;
  margin: 37px auto;
  border:1px solid white;
}

.cardColor {
  animation: color 5s infinite;
  font-size: 30px;
  margin-top: -81px;
}

.formWithNoBorder {
  border:0px!important
}



.buttonAdministration {
  color: black!important;
    background-color: white;
    padding: 7px;
    border-radius: 20px;
    border: 6px solid green;
}


.buttonAdd,
.buttoncontainer button,
.containerBrown {
  color: white;
  background-color: #d9a679;
  border: 6px solid #26802e;
  border-radius: 19px;
}

.buttonAdd:active {
  animation: click 0.1s;
}
.productQuantity {
  /* display: flex; */
  /* height: 53px; */
  width: 45px;
  vertical-align: sub;
}
#formCart label {
  width: 100%;
  display: flex;
  align-items: baseline;
}

#containerCart {
  min-height: 255px;
}

/* stylisation des card product et product detail */
.categoryContainer .box:hover .content .cardColor {
  display: none;
}

.cardColor:active ~ #messageShowAddProduct {
  animation: showMessage 4s;
}
#messageShowAddProduct {
  opacity: 0;
}

#selectedCartShop figure {
  overflow: hidden;
  height: 400px;
}

.categoryContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.categoryContainer .box {
  position: relative;
  min-width: 280px;
  min-height: 421px;
  margin: 20px auto;
  box-sizing: border-box;
  overflow: hidden;
}
.categoryContainer .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  clip-path: circle(400px at center 100px);
  transition: 0.5s;
  transition-delay: 0.5s;
}
.categoryContainer .box:hover .imgBx {
  clip-path: circle(80px at center 100px);
  transition-delay: 0s;
}
.categoryContainer .box:hover .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.categoryContainer .box .content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55%;
  padding: 12px;
  box-sizing: border-box;
  text-align: center;
}
.categoryContainer .box .content h2 {
  margin: 0;
  padding: 0;
}
.categoryContainer .box .content button {
  text-decoration: none;
  display: inline-block;
}
.categoryContainer .box .content h2,
.categoryContainer .box .content .contentShow {
  opacity: 0;
  transition: 0.5s;
  transform: translateY(20px);
}
.categoryContainer .box .content button {
  opacity: 0;
  transition: 1s;
  transform: translateY(150px);
}

.categoryContainer .box:hover .content h2 {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.5s;
}
.categoryContainer .box:hover .content .contentShow {
  z-index: 12;
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.7s;
}
.categoryContainer .box:hover .content button {
  opacity: 1;
  transform: translateY(0px);
}
.buttonShop {
  align-items: baseline;
  justify-content: center;
}

.contentQuantity {
  padding: 0px 20px;
}
/* stylisation de la partie contact */

.widthButtonMobile{
  width: 250px;
}
#presentationShopAdministration {
  padding-top: 129px !important;
}
#mainPositionAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  z-index: -1;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

#productTinymce {
  color:white!important;
  background-color: seagreen;
}
/* Stylisation de la partie blog */
.news,
#adminForm {
  margin: 40px auto !important;
}

.padding-case button {
  width:200px;
  margin:10px
}
#articleView {
  background-color: green;
}
#articleView h1 {
  margin-top: 70px;
}



.fa-search {
  vertical-align: bottom;
  color: #f8f9fa;
}
.displayFlex {
  display: flex;
}
.displayNone {
  display: none !important;
}
.displayRed {
  background-color: red!important;
}
/* stylisation de la partie productDetail */
.imageProductDetail {
  position: relative;
}
.fa-info-circle {
  cursor:pointer;
  font-size: 22px;
  color:green;
}

.imageProductDetail figcaption {
  position : absolute;
  top: 52%;
  text-align: center;
  width:100%;
}



/* footer */
footer {
  background-color: #284010;
}
footer h3 {
  padding-bottom: 40px;
}

footer i {
  font-size: 50px;
  color: white;
}

.buttonCloseArticle {
  position: fixed;
  top: 69px;
  right: 0;
}

/*stylisation de la partie administration*/

.buttonMain1 h4 {
  height: 60px;
}
.buttonMain1 p {
  height: 54px;
}

.traitSeparation {
  content:" ";
  background-color: white;
  border: 2px solid white;
  width: 80%;
  height:2px;
  margin:100px auto
}

.articleTitle {
  min-width:200px;
}
/* stylisation des formulaires d'administration */
#adminForm label {
  padding-top: 30px;
  margin-bottom: 3px;
}
/* stylisation des animations vuejs */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* stylisation de la map */
#mymap {
  height: 400px;
  width: 80%;
}

/* stylisation de la partie des paiements */
.paypalContainer form {
  z-index: -1;
  overflow: hidden;
}
.creditCardContainer form {
  z-index: -1;
  overflow: hidden;
}
.accordeonShowOpen {
  animation: accordeonOpen 0.3s forwards;
}
.accordeonShowClose {
  animation: accordeonClose 0.5s forwards;
}

#Paypal,#CreditCard {
  width:100%
}
/* stylisation de la partie recupitulatif du cart */
.cartConfirm tbody,
.cartConfirm thead {
  font-size: 14px;
}

#Produit {
  min-width: 30%;
}

#QuantitÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â© {
  min-width: 20%;
}

#Description {
  min-width: 30%;
}

#Prix {
  min-width: 20%;
}
.headerOrder h2 {
  height: 100px;
}
.headerOrder button {
  width:180px;
  margin: 6px 0;
}

/* stylisation de l'information de l'user dans l'accueil */
.infoUserTable,.infoUserDetailTable {
  width:100%;
  border: 4px solid white;
  /* border-radius: 43px!important; */
}

.infoUserTable td,.infoUserDetailTable td {
  border: 4px solid white;
  padding:4px;
}


@keyframes accordeonOpen {
  0% {
    height: 5px;
  }
  100% {
    height: 500px;
  }
}
@keyframes accordeonClose {
  0% {
    height: 500px;
  }
  20% {
    height: 0px;
  }
  100% {
    height: 0px;
  }
}
/* creation des differentes animations */
@keyframes arrowSlide{
  0%{
    opacity: 0;
    top:+3px;
  }
  
  20%{
    top:+2px;
    opacity:1;
  }
  100%{
    opacity:0;
    top:-16px
  }
}





@keyframes color {
  0% {
    color: white;
  }

  50% {
    color: #284010;
  }

  100% {
    color: white;
  }
}
@keyframes colorh1 {
  0% {
    color: green;
  }
  100% {
    color: white;
  }
}
@keyframes click {
  0% {
    color: #d9a679;
    background-color: white;
    border: 6px solid #d9a679;
    border-radius: 19px;
  }
  100% {
    color: #d9a679;
    background-color: white;
    border: 6px solid #d9a679;
    border-radius: 19px;
  }
}
@keyframes showMessage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* stylisation suivant le media querie*/
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 30px !important;
  }

  #headerButton {
    width:200px
  }

  form {
    width:250px;
  }
  .categoryContainer .box {
    width: 220px;
    height: 330px;
  }
  #imageArticle {
    opacity: 1;
  }
  #imageArticleFixed {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  #presentationShop p {
    display: none;
  }

  .carroussel {
    overflow: hidden;
    width: 280px;
    height: 280px;
    padding: 61px auto;
  }
  #navLargeScreen {
    display: none;
  }
  #togglecontainer {
    display: block;
  }
  #main {
    overflow: hidden;
  }
  .px-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  #textShop .slide {
    min-width: 200px;
  }
  /* stylisation des products details */
 
  .productImage {
    width: 150px;
  }
  /* stylisation des formulaires administration */
  .tableAdministration th {
    display: none;
  }
  .tableAdministration td {
    display: flex;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
  }
  tbody tr{
    margin-bottom: 100px;
    /* width: 100%!important; */
    border:3px green solid;
  }

  .administrationFlex {
    width:100%
  }

  .administrationFlex tr{
    border:3px solid white;
  }
  .administrationFlex th,.administrationFlex td {
    display:inline-block;
  }

  
}
@media screen and (max-width: 570px) {
  .administrationFlex th {
    display:none;
  }

  #sliderNews {
    display: none;
  }
  #sliderNewsMobile {
    padding-top: 30px;
    display: block;
    background-color: #d9a679;
    padding-bottom: 30px;
    border-top: 6px solid green;
    border-bottom: 6px solid green;
  }
  /* stylisation des formulaires d'administration */
  #adminForm {
    width: 300px;
  }
  
   .administrationFlex {
     margin:20px auto;
   }

  .administrationFlex td {
    padding: 5px 20px 5px 20px;
    width:200px;

  }
  /* stylisation des boutons du slider du cart */
  .cartSlider {
    display: flex !important;
  }

  #previousProduct {
    position: absolute;
    top: 46%;
    left: 0px;
    z-index: 12;
  }
  #nextProduct {
    position: absolute;
    top: 46%;
    right: 0px;
    z-index: 12;
  }
  .productListGrid {
    display: none !important;
  }
  .infoUserTable {
    /* max-width: 225px!important; */
    font-size: 12px;
  }
  .infoUserDetailTable {
    font-size: 14px;
  }
}
